---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Linkedin from '../icons/Linkedin.astro';
import Facebook from '../icons/Facebook.astro';
import Instagram from '../icons/Instagram.astro';
import Github from '../icons/Github.astro';
import ProyectoCard from '../components/ProyectoCard.astro';
import ProyectoCarrusel from '../components/ProyectoCarrusel.astro';
import JavaScript from '../icons/front/JavaScript.astro';
import Html from '../icons/front/Html.astro';
import Css from '../icons/front/Css.astro';
import Figma from '../icons/front/Figma.astro';

import Java from '../icons/back/Java.astro';
import Csharp from '../icons/back/Csharp.astro';
import SpringBoot from '../icons/back/SpringBoot.astro';
import Supabase from '../icons/back/Supabase.astro';
import TypeScript from '../icons/back/TypeScript.astro';
import Elysia from '../icons/back/Elysia.astro';
import Mysql from '../icons/back/Mysql.astro';
import Postgre from '../icons/back/Postgres.astro';
import SqlServer from '../icons/back/SqlServer.astro';
import Python from '../icons/back/Python.astro';
import Nest from '../icons/back/Nest.astro';
import Astro from '../icons/front/Astro.astro';
import Vue from '../icons/front/Vue.astro';
import VisualCode from '../icons/tools/VisualCode.astro';
import JetBrains from '../icons/tools/JetBrains.astro';
import Postman from '../icons/tools/Postman.astro';
import N8N from '../icons/tools/N8N.astro';
import Git from '../icons/tools/Git.astro';
import GitLab from '../icons/tools/GitLab.astro';
import Docker from '../icons/back/Docker.astro';
//import ContactForm from '../components/ContactForm.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portafolio-Adrián Martínez - Desarrollador de Software"
		description="Portafolio de Adrián Martínez, desarrollador de software especializado en crear soluciones tecnológicas innovadoras y eficientes.">
	<main class="px-4 justify-center items-center">
	<!-- <section class="flex flex-row mx-auto py-50 px-34 justify-between gap-24">-->
		<section class="min-h-screen flex items-center justify-center py-16">
			<div class="flex flex-row gap-16 max-w-7xl mx-auto">
				<span class="flex flex-col justify-center items-center gap-8">
			<img 
			class="rounded-full size-50 mask-radial-from-45% "
    		src="https://i.ibb.co/vvB79FfP/porfile-pic.jpg" 
    		alt="Menu o imagen-portada" 
    	>
			<h1 class = "text-white text-3xl text-center semibold">Adrián Martínez Ortiz</h1>
		</span>
		<span class="w-full flex flex-col justify-between items-center gap-4">
			<p class="text-white text-5xl font-bold">Software <span
				class = "text-fuchsia-500  opacity-80">Developer</span></p>

			<p class="text-white text-2xl text-center max-w-lg text-pretty"><span class="text-fuchsia-500 font-bold ">"</span>Apasionado por crear <span class="text-fuchsia-500">soluciones</span> 
				tecnológicas <span class="text-fuchsia-500">innovadoras</span> y eficientes que impulsen el progreso digital<span class="text-fuchsia-500 font-bold">"</span>.</p>
			<div class="flex gap-8 flex-wrap py-4">
		
				<a class ="hover:scale-110 transition-transform " href="https://github.com/AdrianMO290922" 
				target="_blank"
				title="Síguenos en GitHub">
					<Github class="size-12 text-white" />
				</a>
				<a class = "hover:scale-110 transition-transform" href="https://www.linkedin.com/in/adrian-martinez-476976319/ " 
				target="_blank"
				title="Síguenos en LinkedIn">
					<Linkedin class="size-12" />
				</a>
				<a class="hover:scale-110 transition-transform" href="https://web.facebook.com/adrianmartinezo.martinezortiz" target="_blank" title="Síguenos en Facebook">
				<Facebook class="size-12" />
				</a>
				<a class ="bg-gradient-to-tr from-[#f9ce34] via-[#ee2a7b] to-[#6228d7] p-3 size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform" href="https://instagram.com" target="_blank" title="Síguenos en Instagram">
				<Instagram class="size-12" />
				</a>
           
        </div>	
		</span>

			</div>
	</section>
	<!---Seccion de about me -->
	<section id="sobre-mi" class="mt-70">
		<h1 class="text-white text-3xl text-center font-semibold mb-12 py-8">Sobre mí</h1>
		<section class="flex flex-row justify-around items-center  p-12">
			<span class="text-white flex flex-col gap-4 w-3xl p-18">
    <h2 class="text-2xl font-semibold">¡Hola! Soy Adrián Martínez, un 
        <span class="text-fuchsia-500">desarrollador de software</span> apasionado por la 
        <span class="text-fuchsia-500">tecnología</span> y la 
        <span class="text-fuchsia-500">innovación</span>.
    </h2>
    <p>
        Soy Adrián Martínez Ortiz, tengo 21 años y estudio 
        <span class="text-fuchsia-500">Ingeniería en Sistemas Computacionales</span> 
        en el Tec de Morelia, actualmente en el séptimo semestre.
        Cuento con <span class="text-fuchsia-500">2 años de experiencia</span> laboral 
        como desarrollador de software en modalidad home office, con enfoque en 
        <span class="text-fuchsia-500">backend</span>, pero también con conocimientos 
        en <span class="text-fuchsia-500">frontend</span> básico, despliegues y 
        coordinación de proyectos. Mi objetivo es seguir creciendo profesionalmente, 
        creando soluciones <span class="text-fuchsia-500">eficientes y escalables</span>.
    </p>
</span>
		<span>
			<img src="https://www.respuesta.com.mx/wp-content/uploads/2023/MAYO/30/itm_unicos_3005.jpg" 
			alt="imagen-escuela"
			class="h-96 object-cover mask-radial-at-center mask-radial-from-50% mask-radial-to-70%" >
		</span>
		</section>
	</section>
	<!---Seccion de proyectos -->
	<section id="proyectos" class="mt-89 flex flex-col justify-center items-center gap-12 mb-20">
		<h1 class="text-white text-3xl text-center font-semibold mb-12 py-8">Proyectos</h1>
		<ProyectoCarrusel/>
		
	</section>
	
	<!---Seccion de Tecnologias -->
	<section id="tecnologias" class = "flex flex-col justify-center items-center gap-12 mb-12 mt-80 px-80">
		<h1 class="text-white text-3xl text-center font-semibold mb-12 py-8">Tecnologías</h1>
		<div class = "grid grid-cols-2 grid-rows-2 gap-6 w-auto">
			<span class="flex flex-col justify-center items-center gap-8 rounded-2xl hover:scale-105 transition-transform
			bg-gradient-to-tr from-white/5 via-white/10 to-white/5 p-8">
				<h1 class="text-lg font-semibold">Backend</h1>
				<div class="grid grid-cols-3 grid-rows-3 gap-8 w-full">

					<span class="flex flex-col justify-center items-center gap-1.5">
						<Java class="size-16 object-contain" />
						<p class="text-center text-xs">Java</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Csharp class="size-16 object-contain" />
						<p class="text-center text-xs">C#</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<SpringBoot class="size-16 object-contain" />
						<p class="text-center text-xs">Spring Boot</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Supabase class="size-16 object-contain" />
						<p class="text-center text-xs">Supabase</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<TypeScript class="size-16 object-contain" />
						<p class="text-center text-xs">TypeScript</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Elysia class="size-16 object-contain" />
						<p class="text-center text-xs">Elysia</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Mysql class="size-16 object-contain" />
						<p class="text-center text-xs">MySQL</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Postgre class="size-16 object-contain" />
						<p class="text-center text-xs">PostgreSQL</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<SqlServer class="size-16 object-contain" />
						<p class="text-center text-xs">SQL Server</p>
					</span>

				</div>
			</span>
			<span class="flex flex-col justify-center items-center gap-4
			rounded-3xl hover:scale-105 transition-transform
			bg-gradient-to-tr from-white/5 via-white/10 to-white/5 p-8">
				<h1 class="text-lg font-semibold">Frontend</h1>
				<div class="grid grid-cols-3 grid-rows-3 gap-2 w-full">
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Html class="size-16 object-contain" />
						<p class="text-center text-xs">HTML</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Css class="size-16 object-contain" />
						<p class="text-center text-xs">CSS</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<JavaScript class="size-16 object-contain" />
						<p class="text-center text-xs">JavaScript</p>
					</span>
				<!-- 	<span class="flex flex-col justify-center items-center gap-1.5">
						<img src="/public/figma.svg" alt="" class="size-16 object-contain"/>
						<p class="text-center text-xs">Figma</p>
					</span> -->
					

					
				</div>
	
			</span>
			
			<span class="flex flex-col justify-center items-center gap-4 rounded-2xl hover:scale-105 transition-transform
			bg-gradient-to-tr from-white/5 via-white/10 to-white/5 p-8">
				<h1 class="text-lg font-semibold">Aprendiendo</h1>
				<div class="grid grid-cols-3 grid-rows-3 gap-2 w-full">
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Python class="size-16 object-contain" />
						<p class="text-center text-xs">Python</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Nest class="size-16 object-contain" />
						<p class="text-center text-xs">Nest js</p>
					</span>
					<!-- <span class="flex flex-col justify-center items-center gap-1.5">
						<img src="/public/favicon.svg" alt="" class="size-16 object-contain"/>
						<p class="text-center text-xs">Astro</p>
					</span> -->
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Vue class="size-16 object-contain" />
						<p class="text-center text-xs">Vue</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Docker class="size-16 object-contain" />
						<p class="text-center text-xs">Docker</p>
					</span>
			</div>
			</span>
			<span class="flex flex-col justify-center items-center gap-4 rounded-2xl hover:scale-105 transition-transform
			bg-gradient-to-tr from-white/5 via-white/10 to-white/5 p-">
				<h1 class="text-lg font-semibold">Herramientas</h1>
				<div class="grid grid-cols-3 grid-rows-3 gap-2 w-full">
				<span class="flex flex-col justify-center items-center gap-1.5">
						<VisualCode class="size-16 object-contain" />
						<p class="text-center text-xs">Visual Studio Code</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<JetBrains class="size-16 object-contain" />
						<p class="text-center text-xs">JetBrains</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Postman class="size-16 object-contain" />
						<p class="text-center text-xs">Postman</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<N8N class="size-16 object-contain" />
						<p class="text-center text-xs">N8N</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Git class="size-16 object-contain" />
						<p class="text-center text-xs">Git</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<Github class="size-16 object-contain" />
						<p class="text-center text-xs">Github</p>
					</span>
					<span class="flex flex-col justify-center items-center gap-1.5">
						<GitLab class="size-16 object-contain" />
						<p class="text-center text-xs">GitLab</p>
					</span>

				</div>
			</span>
		</div>
	</section>
		


	</main>
</Layout>
