<header class="flex justify-between items-center py-5 w-full pl-12 pr-12 ">
    <img 
    class="rounded-full w-12 h-12 "
    src="https://i.ibb.co/vvB79FfP/porfile-pic.jpg" 
    alt="Menu o logo" 
    >
    <nav class="flex gap-6">
     <a href="/" class="hover:text-fuchsia-500  opacity-80">Inicio</a>
     <a href="#sobre-mi" class="hover:text-fuchsia-500  opacity-80">Sobre mí</a>
     <a href="#proyectos" class="hover:text-fuchsia-500  opacity-80">Proyectos</a>
     <a href="#contacto" class="hover:text-fuchsia-500  opacity-80">Contacto</a>
    </nav>
</header>