---
import ProyectoCard from './ProyectoCard.astro';
import 'swiper/css';
import 'swiper/css/navigation';

const projects = [
    {
        title: "Aurea Meals",
        imageUrl: "https://i.ibb.co/Jwyj1bdP/Aurea-project.webp",
        projectUrl: "https://aurea-meals-bq7c.vercel.app/index.html",
        description: "Una aplicación web para la gestión de comidas saludables."
    },
    {
        title: "SGC-Sistema Gestor de Concursos",
        imageUrl: "https://i.ibb.co/whFrGKWK/sgc-proy.webp",
        projectUrl: "https://sgc-pwa.pages.dev/",
        description: "Una aplicación web para la gestión de concursos."
    },
    {
        title: "Página web de una inmobiliaria",
        imageUrl: "https://i.ibb.co/v4M5g069/casas.webp",
        projectUrl: "https://inmohabi-landing-page.vercel.app/#nosotros",
        description: "Una página web para una inmobiliaria."
    },
    {
        title: "Punto de venta cafetería",
        imageUrl: "https://i.ibb.co/Z6XqDkNW/pos.webp",
        projectUrl: "https://coffee-pos-lemon.vercel.app/login",
        description: "Una aplicación web para la gestión de un punto de venta en una cafetería."
    }
];
---

<div class="relative w-full max-w-[1200px]">
    <div class="swiper">
        <div class="swiper-wrapper">
            {projects.map(project => (
                <div class="swiper-slide flex justify-center">
                    <ProyectoCard {...project} />
                </div>
            ))}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<style>
    .swiper-button-next,
    .swiper-button-prev {
        color: white;
    }
</style>

<script>
    import Swiper from 'swiper';
    import { Navigation } from 'swiper/modules';

    new Swiper('.swiper', {
        modules: [Navigation],
        slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 20
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 30
            }
        }
    });
</script>